@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'open sans', 'Roboto', sans-serif;
    background-color: #ecf0f1;
    font-weight: 400;
  }
  #root {
    margin: 0 !important;
    padding: 0 !important;
  }
  ::placeholder{
    font-family: 'open sans', 'Roboto', sans-serif;
    font-weight: 700;
  }